/*
!/*.c
!/*.h
!/*.md
!/*.txt
!/*.mk
!/makefile
!/unlicense
!/drafts
!/mig

!/src
/src/*
!/src/*.h
!/src/*.c

!/test
/test/*
!/test/*.h
!/test/*.c

# Should be listed last.
.*
*.exe
*.dSYM
!.git*
!.clang*
!*config
!*ignore
!*rc
